In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

columns = [
    "age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"
]

df = pd.read_csv(url, header=None, names=columns, na_values=" ?", skipinitialspace=True)

print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [3]:
print("1) Число столбцов:", df.shape[1])

1) Число столбцов: 15

In [11]:
missing = df.isnull().sum()
missing_cols = missing[missing > 0]
print("\n2) Пропуски по столбцам:")
if len(missing_cols) == 0:
    print("   Пропусков нет")
else:
    print(missing_cols)

2) Пропуски по столбцам:
workclass         1836
occupation        1843
native-country     583
dtype: int64

In [12]:
print("\n3) Уникальных значений в 'race':", df["race"].nunique())

3) Уникальных значений в 'race': 5

In [13]:
print("\n4) Медиана hours-per-week:", df["hours-per-week"].median())

4) Медиана hours-per-week: 40.0

In [14]:
higher_income = df[df["income"] == ">50K"]
print("\n5) Кол-во мужчин с >50K:", (higher_income["sex"] == "Male").sum())
print("   Кол-во женщин с >50K:", (higher_income["sex"] == "Female").sum())
if (higher_income["sex"] == "Male").sum() > (higher_income["sex"] == "Female").sum():
    print("   Больше мужчин.")
else:
    print("   Больше женщин.")

5) Кол-во мужчин с >50K: 6662
   Кол-во женщин с >50K: 1179
   Больше мужчин.

In [15]:
print("\n6) Заполнение пропусков:")
for col in df.columns:
    if df[col].isnull().sum() > 0:
        mode_val = df[col].mode()[0]
        df[col] = df[col].fillna(mode_val)
        print(f"   В столбце {col} пропуски заменены на '{mode_val}'")

6) Заполнение пропусков:
   В столбце workclass пропуски заменены на 'Private'
   В столбце occupation пропуски заменены на 'Prof-specialty'
   В столбце native-country пропуски заменены на 'United-States'

In [16]:
print("\nПропуски после заполнения:\n", df.isnull().sum().sum())

Пропуски после заполнения:
 0

In [17]:
print("\nДругой способ заполнения: можно использовать предсказание модели (например, классификатор для категориальных признаков),")
print("либо заменить пропуски случайным значением из распределения столбца, либо 'unknown'.")

Другой способ заполнения: можно использовать предсказание модели (например, классификатор для категориальных признаков),
либо заменить пропуски случайным значением из распределения столбца, либо 'unknown'.